body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.navbar {
    background-color: #333;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.navbar ul li a:hover {
    background-color: #555;
}

.hero {
    background: url('https://static.vecteezy.com/ti/vetor-gratis/p1/620372-aeronave-aviao-rotulo-de-logotipo-de-companhia-aerea-viagem-viagens-aereas-simbolo-de-aviao-ilustracaoial-gratis-vetor.jpg') no-repeat center center/cover;
    color: black;
    padding: 100px 0;
    text-align: center;
}

.destinos, .roteiro-detalhado, .contato {
    padding: 60px 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid-item {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.grid-item img {
    max-width: 100%;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.sobre {
    padding: 60px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.sobre h1, .sobre h2 {
    color: #333;
}

.sobre p {
    color: #555;
    max-width: 800px;
    margin: 0 auto;
}